body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 40%;
    margin: auto;
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

textarea, input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #22c55e;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #16a34a;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.badge {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
}

.captain {
    background: gold;
}

.vc {
    background: silver;
}
